[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomlkit = "*"
click = "*"
pillow = "*"
kivy = ">=2.0.0"
kivymd = ">=0.104.2"

[dev-packages]
PySnooper = "*"
buildozer = "*"
ipdb = "*"
flit = "*"
invoke = "*"

[requires]
python_version = "3.9"
